<% if(!dataDetailProduct[0]) { %>
    <p style="text-align: center;">No products available</p>
<% } else { %>
    <div class="container" style="background: white;">
        <div class="Title" style="margin-top: 10px;">
            <div>
                Product Details: <%= dataDetailProduct[0].ProductName %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
                <img src="/admin/image/<%= dataDetailProduct[0].imgName %>" alt="" id="img_main" style="box-shadow: 0px 0px 5px 0px;border-radius: 5%; max-height: 245px;">
                <div class="row" style="margin-top: 5px;">
                </div>
            </div>
            <style>
                input:focus-visible {
                    outline: none;
                    border: none;
                }

                input {
                    border: none;
                }
            </style>
            <div class="col-md-7">
                <form action="/customer/product/add-to-cart" method="post">
                    <h3 style="padding-bottom: 5px;"><input type="text" name="ProductName" value="<%= dataDetailProduct[0].ProductName %>" readonly></h3>
                    <p>Price: <input type="text" name="UnitPrice" value="<%= dataDetailProduct[0].UnitPrice %>" readonly style="text-align: right;">/kg </p>
                    <p>Origin: <input type="text" name="Origin" value="<%= dataDetailProduct[0].Origin %>" readonly> </p>
                    <p>Available Quantity: <input type="text" name="AvailableQuantity" value="<%= dataDetailProduct[0].Quantity %>" readonly style="text-align: right;">kg</p>
                    <p>Quantity to Buy: <input type="number" name="QuantityToBuy" min="1" max="<%= dataDetailProduct[0].Quantity %>" oninput="this.value = Math.abs(this.value)" required></p>
                    <input type="text" name="CategoryID" value="<%= dataDetailProduct[0].CategoryID %>" hidden>
                    <input type="text" name="ProductID" value="<%= dataDetailProduct[0].ID %>" hidden>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="background: white;">
        <div class="Title" style="margin-top: 10px;">
            <div>
                Related Products
            </div>
        </div>
        <% if(!dataRelatedProducts[0]) { %>
            <p style="text-align: center;">No related products available</p>
        <% } else { %>
        <div class="row">
            <% counter = 1; dataRelatedProducts.forEach((product) => {
                if(counter <= 6 ){ %>
                    <div class="col-sm-2"><a href="/customer/product/details/<%= product.CategoryID %>/<%= product.ID %>" style="color: black;">
                        <div class="card" style="width: 10rem;">
                        <img src="/admin/image/<%= product.imgName %>" class="card-img-top" id="NgoaiNhap1" alt="..." style="max-height: 250px">
                        <div class="card-body">
                            Name: <%= product.ProductName %><br>
                            Origin: <%= product.Origin %><br>
                            Price: <%= product.UnitPrice %>/kg<br>
                            Quantity:  <%= product.Quantity %>kg
                        </div>
                        </div></a>
                    </div>
                <%  counter += 1
                }
            }) %>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 10px 0px;">
            <button class="btn btn-primary me-md-2" type="button" style="background: #00e85d;border-color: #00e85d;"><a href="/customer/product/category/<%= dataRelatedProducts[0].CategoryID %>">View All <i class="fa fa-arrow-right" aria-hidden="true"></i></a></button>
        </div>
        <% } %>
    </div>
<% } %>
