<div class="container">
    <% if(!dataProducts[0]) { %>
        <p style="text-align: center;">No products found</p>
    <% } else { %>
    <div class="Title" style="margin-top: 10px;">
        <div>
            Search: <%= title %>
        </div>
    </div>
    <div class="row">
        <% dataProducts.forEach((product) => {
            %>
                <div class="col-sm-3"><a href="/customer/product/details/<%= product.CategoryID %>/<%= product.ID %>" style="color: black;">
                    <div class="card" style="width: 18rem;">
                    <img src="/admin/image/<%= product.imgName %>" class="card-img-top" id="NgoaiNhap1" alt="..." style="max-height: 450px">
                    <div class="card-body">
                        Name: <%= product.ProductName %><br>
                        Origin: <%= product.Origin %><br>
                        Price: <%= product.UnitPrice %>/kg<br>
                        Quantity:  <%= product.Quantity %>kg
                    </div>
                    </div></a>
                </div>
            <%  
        }) %>
    </div>
    <% } %>
</div>
